modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Jukboks Server"

[[workflows.workflow]]
name = "Jukboks Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.production]
ALLOW_DEMO_SETUP = "true"
APPLE_TEAM_ID = "ZUL8H4NSB7"
APPLE_KEY_ID = "7JKS86L82N"
REPLIT_DEPLOYMENT_URL = "https://jukboks.replit.app"
